# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Environments
.env
.venv
env/
venv/
# pycharm
.idea/
# Ipython Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
# Media + Static files
finance_project/mediafiles
finance_project/staticfiles
# Log files
*.log
.DS_Store
